* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: #6dacc545;

}
.body {
    background-color: black;
}
body {
    margin: 0px -3% 300% ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 50%;
}


h1 {
    text-align: center;
}
.header{
    height: 50vh;
    /* background-color: lightyellow; */

}

.navbar-style {

    font-family: 'Caesar Dressing';
    font-size: 16px;


    background-color: #f4f6f7c7;
    box-shadow: 0 5px 10px #4e4545 ;
    text-transform: uppercase;
}

.logo {
    height: 48px;
    padding: 2px 10px;
}

.icon-bar {
    background: darkorange;
}

li a {
    color: black;
}
.big-text{
 
    font-size: 52px;
    margin: 20px 0;
    color: darkorange;
}

.big-text2 {
    font-size: 129%;
    margin: 20px 0;
    color: darkorange;
}

.big-text3 {
    font-size: 19px;
    margin: 25px 0 27px;
    color: darkorange;
}

a.btn {
    margin : 30px 10px;
    width: 150px;
    padding: 10px;
    border-radius: 20px;
}
a.btn-first {
    background: darkorange;
    color: white;
}

a.btn-second{
    background: transparent;
    border: 1px solid darkorange;
    color: black;
}

a.btn:hover {
    background: darkorange;
    border: none;
    color: #fff;
    box-shadow: 5px 5px 10px #999;
    transition: 0.3s;
}

/* --------------------first page------------------------ */
.row {
    float: right;
    /* background-color: #f1f1f1; */
    width: 80%;
    margin: 25px;
    text-align: center;
    line-height: 25px;
    font-size: 22px;

}

.row::after {
    content: "";
    clear: both;
    display:table;
}

.banner-intro{

/* border-left: 6px solid; */
/* background-color: #2778ef1a; */

/* border: 1px outset; */
padding: 25px;
width: 30%;
float: left;
}
.banner-intro2{

    /* border-left: 6px solid;
    background-color: #2778ef1a; */

    /* border : 1px outset; */
    padding: 10px;
    width: 25%;
    float: left;
}
.banner-intro3{

    /* border-left: 6px solid;
    background-color: #2778ef1a;

    border : 1px outset; */
    padding: 10px;
    width: 25%;
    float: left;
}

.form {
    margin: 0 auto;
    width:80%;
}



.banner-HereToServe {
    /* background-color: #f7f8f9;
    margin: 12% -20% 3%;
    padding: 10px;
    float: right;
    width: 622px; */
    /* height: 39%; */
    /* border: 2px solid;
    padding: 10px;
    border-radius: 20px; */

    background-color: #f7f8f9;
    margin: 3% -225rem 14%;
    /* padding: 10px; */
    float: right;
    width: 622px;
    height: 90%;
    border: 2px solid;
    padding: 5px;
    border-radius: 20px;
}

/* ====================heretoserve page 1 immage================================== */
.img-responsive-lebron{
    /* position: relative;
    float: left;     */
    width: 30em;
    height: 30em;
    /* border: 1px solid; */
    padding: 30px;
    /* box-shadow: 5px 10px 18px #123a01; */
    }

.box_firstBlog {
        width: 80rem;
        margin: -4px;
        text-align: center;
        line-height: 19px;
        font-size: 12px;
        padding: 25px 60px 10px;
      } 

.flex-container-IntroPage {
        display: flex;
        flex-wrap: nowrap;
        background-color: rgb(49, 64, 80);
        width: 80rem;
        margin: -4px;
        text-align: center;
        line-height: 19px;
        font-size: 12px;
        padding: 25px 60px 10px;
    }

.flex-container-page2 {
        display: flex;
        flex-wrap: nowrap;
        background-color: rgb(49, 64, 80);
      }

      .banner-firstblog{
        background-color: #f9f9f9;
        color: rgb(138, 126, 211);
        border: 2px solid;
        border-radius: 50px;
        width: 45%;
        height: 45%;
        margin: 1% 5% -6%;
        padding: 10px;
    
    }
    .big-text-firstblog{
        text-align: center;
    }

    .img-responsive-firstblog{
        position: relative;
        left: 60%;
        margin: 0 39rem 1rem;
        height: 40rem;
        width: 69rem;
        /* border: 1px solid; */
        padding: 28px;
        /* box-shadow: 5px 10px 18px #123a01; */
        }
        

/* ====================^firstpage immages^==================================== */

/* ==================================================================================== */

/* +info on second page for immigration */

.banner-immigration{
    background-color: #f9f9f9;
    color: rgb(138, 126, 211);
    border: 2px solid;
    border-radius: 50px;
    width: 45%;
    height: 45%;
    margin: 1% 5% -6%;
    padding: 10px;

}
.big-text-immigration{
    text-align: center;
}
.banner-secondImmage {
    height: 12%;
}

.big-text{
    font-size: 25px;
    text-align: center;
}

.logo{
    height: 50px;
    padding: 3px 0px;
}
.big-text {
    font-size: 25px;
}

  /* ==================== immigration page 2 immage================================== */

  .img-responsive-Second{
    margin: 4% -13% 0%;
    position: relative;
    float:right;
    border: 1px solid;
    padding: 20px;
    box-shadow: 9px 11px 20px 0px #05b6f973;
}

.img-responsive-Immigration{
    position: relative;
    left: 60%;
    margin: 0 39rem 1rem;
    height: 40rem;
    width: 69rem;
    /* border: 1px solid; */
    padding: 28px;
    /* box-shadow: 5px 10px 18px #123a01; */
    }
    

  .box_Blog {
    width: 80rem;
    margin: -4px;
    text-align: center;
    line-height: 19px;
    font-size: 12px;
    padding: 25px 60px 10px;
  } 

  .flex-container-2{
    display: flex;
    flex-wrap: nowrap;
    /* background-color: #aeffae8a; */
  }
.secondpage_blog{
    background-color: #f9f9f9;
    color: darkslateblue;
    border: 2px solid;
    border-radius: 50px;
    width: 45%;
    height: 45%;
    margin: 1% 5% -6%;
    padding: 10px;
}

 
  @media only screen and (max-width:800px) {
    /* For tablets: */
    .main {
      width: 80%;
      padding: 0;
    }
    .right {
      width: 100%;
    }
  }
  @media only screen and (max-width:500px) {
    /* For mobile phones: */
    .menu, .main, .right {
      width: 100%;
    }
  }

  .iframe-container {
      position: relative;
      width: 100%;
      padding-bottom: 56.26%;
      height: 0;
  }
  .iframe-container iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
