* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: #bebf9f;

}
body {
    margin: 0px -3% 300% ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 50%;
}


h1 {
    text-align: center;
}
.header{
    height: 50vh;
    /* background-color: lightyellow; */

}

.navbar-style {

    font-family: 'Caesar Dressing';
    font-size: 16px;


    background-color: #89b578;
    box-shadow: 0 5px 10px #4e4545 ;
    text-transform: uppercase;
}

.logo {
    height: 48px;
    padding: 2px 10px;
}

.icon-bar {
    background: darkorange;
}

li a {
    color: black;
}
.big-text{
 
    font-size: 52px;
    margin: 20px 0;
    color: darkorange;
}

.big-text2 {
    font-size: 129%;
    margin: 20px 0;
    color: darkorange;
}

.big-text3 {
    font-size: 19px;
    margin: 25px 0 27px;
    color: darkorange;
}

a.btn {
    margin : 30px 10px;
    width: 150px;
    padding: 10px;
    border-radius: 20px;
}
a.btn-first {
    background: darkorange;
    color: white;
}

a.btn-second{
    background: transparent;
    border: 1px solid darkorange;
    color: black;
}

a.btn:hover {
    background: darkorange;
    border: none;
    color: #fff;
    box-shadow: 5px 5px 10px #999;
    transition: 0.3s;
}

/* --------------------first page------------------------ */
.row {
    float: right;
    /* background-color: #f1f1f1; */
    width: 80%;
    margin: 25px;
    text-align: center;
    line-height: 25px;
    font-size: 22px;

}

.row::after {
    content: "";
    clear: both;
    display:table;
}

.banner-intro{

    border-left: 6px solid;
    background-color: #2778ef1a;

border: 1px outset;
padding: 25px;
width: 30%;
float: left;
}
.banner-intro2{

    border-left: 6px solid;
    background-color: #2778ef1a;

    border : 1px outset;
    padding: 10px;
    width: 25%;
    float: left;
}
.banner-intro3{

    border-left: 6px solid;
    background-color: #2778ef1a;

    border : 1px outset;
    padding: 10px;
    width: 25%;
    float: left;
}

.form {
    margin: 0 auto;
    width:80%;
}


.img-responsive-Immigration{
position: relative;
left: 52px;

height: 250px;
border: 1px solid;
padding: 20px;
box-shadow: 5px 10px 18px #123a01;}
/* } ^^ immigration immage */
  /* ======================================================== */
/* .img-responsive-lebron{
    position: relative;
    left: 370px;
    
    height: 300px;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 18px #123a01;
    } */

.banner-HereToServe {
    background-color: #aeffae8a;
    padding: 10px;
    position: relative;
    left: 815px;
    width: 622px;
}
/* info on second page for immigration */
.banner-immigration{
background-color: #aeffae8a;
color: darkslateblue;
}
.banner-secondImmage {
    height: 12%;
}

.big-text{
    font-size: 25px;

}

.logo{
    height: 50px;
    padding: 3px 0px;
}
.big-text {
    font-size: 25px;
}

.flex-container-IntroPage {
    display: flex;
    flex-wrap: nowrap;
    background-color: rgb(49, 64, 80);
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: rgb(49, 64, 80);
  }
  
  .flex-container .box {
    /* background-color: #f1f1f1; */
    width: 80rem;
    margin: -4px;
    text-align: center;
    line-height: 19px;
    font-size: 12px;
    padding: 14px 60px 17px;
  }

  .flex-container-2{
    /* display: flex; */
    flex-wrap: nowrap;
    /* background-color: #aeffae8a; */
  }
 @media only screen and (min-width: 600px){
     .flex-container{ width: 12%;}
 }
  @media only screen and (min-width:768px){
      .flex-container{ width: 100.33%;}
      .flex-container-2 {width: 100.33%; }
  }